* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: white;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
}
nav ul li a {
    color: white;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
}
nav ul li a {
    color: white;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
}
nav ul li a {
    color: white;
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
}


